:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.embla {
  overflow: hidden;
  border-radius: 15px;
  box-shadow: -5px 4px 11px 0px #000000;
  max-height: 400px;
  box-sizing: border-box;
}

.btn-pay {
  background: #417e38;
  color: white;
  padding: 3px 5px;
  font-size: large;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 400;
  outline: none;
  width: 100%;
  border: unset;
  width: max-content;
}

.embla__container {
  display: flex;
  transform: matrix3d(0, 0);
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (min-width:641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width:961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */

}

@media (min-width:1025px) {
  /* big landscape tablets, laptops, and desktops */

}

@media (min-width:1281px) {
  /* hi-res laptops and desktops */

}


.embla__text {
  /* max-width: 100%; */
  /* margin: auto; */
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 300px;
}

/* @media (min-width:320px) {

  .embla__text {
    --slide-size: 80%;
  }
}

@media (min-width:481px) {

  .embla__text {
    --slide-size: 300px;
  }
} */

.embla__text__viewport {
  overflow: hidden;
}

.embla__text__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__text__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.embla__text__slide__number {
  box-shadow: inset 0 0 0 0.2rem #1e1e1e;
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}

.embla__text__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1rem;
}

.embla__text__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}

.embla__text__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem #1e1e1e;
  width: 40px;
  height: 40px;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}

.embla__text__button:disabled {
  color: var(--detail-high-contrast);
}

.embla__text__button__svg {
  width: 18px;
  height: 18px;
}

.embla__text__play {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem #1e1e1e;
  border-radius: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-end;
  color: var(--text-body);
  font-weight: 700;
  font-size: 1.4rem;
  padding: 0 2.4rem;
  min-width: 8.4rem;
}

.embla__text__progress {
  border-radius: 1.8rem;
  box-shadow: inset 0 0 0 0.2rem #1e1e1e;
  background-color: var(--background-site);
  position: relative;
  height: 0.6rem;
  justify-self: flex-end;
  align-self: center;
  width: 13rem;
  max-width: 90%;
  overflow: hidden;
}

.embla__text__progress__bar {
  background-color: var(--text-body);
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: -100%;
}

.embla__text__controls {
  grid-template-columns: auto 1fr auto;
}

.embla__text__progress {
  justify-self: center;
  transition: opacity 0.3s ease-in-out;
  width: 8rem;
}

.embla__text__progress--hidden {
  opacity: 0;
}

.embla__text__progress__bar {
  animation-name: autoplay-progress;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.embla__text__progress--hidden .embla__text__progress__bar {
  animation-play-state: paused;
}

@keyframes autoplay-progress {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(100%, 0, 0);
  }
}